### Ignore everything by default
*

### But not these files/folders
## GIT
!.gitignore
!LICENSE
!README.md
!TODO.md

## CONFIGS
!.config/
!.local/
!.local/share/

# SHELL
!.zshrc

# HYPRLAND
!.config/hypr/
!.config/hypr/*
!.config/hypr/conf.d/*
!.config/hypr/scripts/*

# WAYBAR
!.config/waybar/
!.config/waybar/*
!.config/waybar/scripts/*
!.config/waybar/themes/*

# MAKO
!.config/mako/
!.config/mako/*
!.config/mako/themes/*

# ROFI
!.config/rofi/
!.config/rofi/*
!.config/rofi/themes/*

# FOOT
!.config/foot/
!.config/foot/*
!.config/foot/themes/*

# MANGOHUD
!.config/MangoHud/
!.config/MangoHud/*

# NWG-LOOK
!.config/nwg-look/
!.config/nwg-look/*

# GTK
!.gtkrc-2.0
!.config/gtk-2.0/
!.config/gtk-2.0/*
!.config/gtk-3.0/
!.config/gtk-3.0/*
!.config/gtk-4.0/
!.config/gtk-4.0/*
!.config/xsettingsd/
!.config/xsettingsd/*

# QT
!.config/qt5ct/
!.config/qt5ct/*
!.config/qt5ct/colors/*
!.config/qt6ct/
!.config/qt6ct/*
!.config/qt6ct/colors/*

# MPV
!.config/mpv/
!.config/mpv/*

# SWAPPY
!.config/swappy/
!.config/swappy/*

# ELECTRON
!.config/electron-flags.conf
!.config/electron13-flags.conf
!.config/electron19-flags.conf

# X11
!.Xdefaults
!.Xresources

# FONTS
!.fonts
!.local/share/fonts/
!.local/share/fonts/OTF/
!.local/share/fonts/OTF/**
!.local/share/fonts/TTF/
!.local/share/fonts/TTF/**

# ICONS
!.icons
!.local/share/icons/
!.local/share/icons/**

# THEMES
!.themes
!.local/share/themes/
!.local/share/themes/**

### Ignore specific files
*.uuid
