### Ignore everything by default
*

### But not these files/folders
## GIT
!.gitignore
!LICENSE
!README.md


## CONFIGS
!.config/

# Shell
!.zshrc

# Hyrpland
!.config/hypr/
!.config/hypr/*
!.config/hypr/conf.d/*
!.config/hypr/scripts/*

# Waybar
!.config/waybar/
!.config/waybar/*
!.config/waybar/scripts/*
!.config/waybar/themes/*

# Mako
!.config/mako/
!.config/mako/*
!.config/mako/themes/*

# Rofi
!.config/rofi/
!.config/rofi/*
!.config/rofi/themes/*

# Foot
!.config/foot/
!.config/foot/*
!.config/foot/themes/*

# MangoHud
!.config/MangoHud/
!.config/MangoHud/*

# NWG-Look
!.config/nwg-look/
!.config/nwg-look/*

# GTK
!.gtkrc-2.0
!.config/gtk-2.0/
!.config/gtk-2.0/*
!.config/gtk-3.0/
!.config/gtk-3.0/*
!.config/gtk-4.0/
!.config/gtk-4.0/*
!.config/xsettingsd/
!.config/xsettingsd/*

# QT
!.config/qt5ct/
!.config/qt5ct/*
!.config/qt5ct/colors/*
!.config/qt6ct/
!.config/qt6ct/*
!.config/qt6ct/colors/*

# MPV
!.config/mpv/
!.config/mpv/*

# Swappy
!.config/swappy/
!.config/swappy/*

# X11
!.Xdefaults
!.Xresources

# FONTS
!.fonts

# ICONS
!.icons

# THEMES
!.themes
