# Ignore everything by default
*

# But not these files/folders
# Git
!LICENSE
!README.md
!.gitignore

# Shell
!.zshrc

# Config
!.config/

# Hyrpland
!.config/hypr/
!.config/hypr/*
!.config/hypr/conf.d/*
!.config/hypr/scripts/*

# Waybar
!.config/waybar/
!.config/waybar/*
!.config/waybar/scripts/*
!.config/waybar/themes/*

# Mako
!.config/mako/
!.config/mako/*
!.config/mako/themes/*

# Rofi
!.config/rofi/
!.config/rofi/*
!.config/rofi/themes/*

# Foot
!.config/foot/
!.config/foot/*
!.config/foot/themes/*

# MangoHud
!.config/MangoHud/
!.config/MangoHud/*
