! Color Theme
! Sweet Dark
*background: #1e1e2e
*foreground: #c3c7d1
! black
*color0: #1e1e2e
*color8: #4b5263
! red
*color1: #ff6c6b
*color9: #ff6c6b
! green
*color2: #9ece6a
*color10: #9ece6a
! yellow
*color3: #e6c384
*color11: #e6c384
! blue
*color4: #7aa2f7
*color12: #7aa2f7
! magenta
*color5: #bb9af7
*color13: #bb9af7
! cyan
*color6: #7dcfff
*color14: #7dcfff
! white
*color7: #eeeeec
*color15: #ffffff

! Cursor
Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 24
