configuration {
	modi: "run,drun,window";
	show-icons: true;
	terminal: "footclient";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "   Apps ";
	display-run: "   Run ";
	display-window: "   Windows ";
	sidebar-mode: true;
}

@theme "./themes/tokyo-night-storm.rasi"
