configuration {
	modi: "run,drun,window,clipboard:~/.config/rofi/scripts/cliphist-rofi.sh";
	show-icons: true;
	terminal: "footclient";
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: "   Apps ";
	display-run: "   Run ";
	display-window: "   Windows ";
  display-clipboard: "   Clipboard ";
	sidebar-mode: true;
}

@theme "./themes/sweet-dark.rasi"
